body{
    background-color: beige;
}

#receta1,
#receta2,
#receta3{
    color: brown;
    font-size: 45px;
}

.Encabezados1,
.Encabezados2,
.Encabezados3{
    color: red;
    font-size: 30px;
}

#principal{
    color: rgb(221, 145, 5);
    text-align: center;
    font-size: 50px;
}

.container-links{
    
    font-size: larger;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}

#chaufa-img,
#lasaña-img,
#ceviche-img{
    height: auto;
    width: 200px;
    display: block;
    margin: 0 auto;
}

section{
    font-weight: 550;
    font-size: 22px;
}

#logo-img{
    height: auto;
    width: 300px;
}

#recetas-titulo{
    text-align: center;
    font-size: 35px;
    color: rgb(221,145,5);
    margin: 0px;
}

#lasaña-text{
   /* font-family: Arial, Helvetica, sans-serif; */
}

.imagen-chef{
    display: flex;
    justify-content: center;
    margin: 10px;
}

*{
    outline: 2px solid red;
}